:root {
  --main-color: #12;
  --text-color: #fc;
  --card-color: #e1bee7;
  --card-header-color: #4a148c;
  --card-date-month-color: #d50000;
  --card-body-margin: 6px;

  --center-theme: {
    margin-left: auto;
    margin-right: auto;
  };
  --flex-column-center-theme: {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  };
  --flex-row-center-theme: {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  };
}

@alias {
  bc: background-color;
  dis: display;
  fSize: font-size;
  f-dir: flex-direction;
  f-just: justify-content;
  h: height;
  m: margin;
  m-b: margin-bottom;
  m-l: margin-left;
  m-r: margin-right;
  m-t: margin-top;
  p: padding;
  p-l: padding-left;
  p-r: padding-right;
  w: width;
}

body {
  @apply --center-theme;
  bc: var(--main-color);
  color: var(--text-color);
  w: 920px;
}
